@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

body {
margin: 0;
padding: 0;
font-family: 'Raleway', sans-serif;
color: #1e1e2a;
}

.header-container {
    height: 100vh;
    width: 100%;
    background-color: #a29d7f;
    background-image: url('./imgs/foto1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1 {
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.name {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: -3rem;
}

.social-media {
    margin-top: 1rem;
    display: flex;
    font-weight: bold;
}

.social-media a {
    text-decoration: none;
    color: #1e1e2a;
    padding: 1rem 2rem;
    border: 1px solid #1e1e2a;
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    border-radius: 30rem;
    margin-right: 2rem;
}

.social-media a:hover {
    background-color: #1e1e2a;
    color: #ffffff;
}

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.card{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    background-repeat: no-repeat;
}

.card-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.card-title h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    text-align: justify;
    color: #1e1e2a;
}

.card-text a {
    text-decoration: none;
    color: #1e1e2a;
    padding: 1rem;
    border: 1px solid #1e1e2a;
    display: inline-block;
    margin: 1rem 0;
    justify-content: center;
    transition: .5s ease-in-out;
    border-radius: 5px 20px 20px 5px;
    text-transform: uppercase;
    font-size: 14px;
}